build
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.gradle
/.project
/.settings
/RUNNING_PID
/project/*-shim.sbt
/activator-sbt-*-shim.sbt
chisel-gui.jar
*.chiselgui
